parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Relations\\Pivot\:\:\$is_enabled\.$#'
			identifier: property.notFound
			count: 1
			path: app/Actions/Modules/ToggleUserModuleAction.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Relations\\Pivot\:\:\$settings\.$#'
			identifier: property.notFound
			count: 1
			path: app/Actions/Modules/UpdateModuleSettingAction.php

		-
			message: '#^Call to function is_string\(\) with non\-falsy\-string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: app/Actions/Posts/SavePostAction.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: app/Actions/Posts/SavePostAction.php

		-
			message: '#^Parameter \#1 \$profile of job class App\\Jobs\\ProcessProfileMediaJob constructor expects App\\Models\\Profile in App\\Jobs\\ProcessProfileMediaJob\:\:dispatch\(\), Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: app/Actions/Profile/UpdateProfileAction.php

		-
			message: '#^Parameter \#1 \$profile of job class App\\Jobs\\ProcessProfileMediaJob constructor expects App\\Models\\Profile in App\\Jobs\\ProcessProfileMediaJob\:\:dispatch\(\), Illuminate\\Database\\Eloquent\\Model\|null given\.$#'
			identifier: argument.type
			count: 2
			path: app/Actions/Profile/UpdateProfileMediaAction.php

		-
			message: '#^Call to an undefined method App\\Console\\Commands\\SeedFromEnumCommand\:\:success\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Console/Commands/SeedFromEnumCommand.php

		-
			message: '#^Method App\\Exports\\PostViewsExport\:\:query\(\) has invalid return type Laravel\\Scout\\Builder\.$#'
			identifier: class.notFound
			count: 1
			path: app/Exports/PostViewsExport.php

		-
			message: '#^Method App\\Exports\\ShortLinksExport\:\:query\(\) has invalid return type Laravel\\Scout\\Builder\.$#'
			identifier: class.notFound
			count: 1
			path: app/Exports/ShortLinksExport.php

		-
			message: '#^Method App\\Exports\\SiteAnalyticsExport\:\:query\(\) has invalid return type Laravel\\Scout\\Builder\.$#'
			identifier: class.notFound
			count: 1
			path: app/Exports/SiteAnalyticsExport.php

		-
			message: '#^Method App\\Exports\\SubscribersExport\:\:query\(\) has invalid return type Laravel\\Scout\\Builder\.$#'
			identifier: class.notFound
			count: 1
			path: app/Exports/SubscribersExport.php

		-
			message: '#^Method App\\Exports\\UsersExport\:\:query\(\) has invalid return type Laravel\\Scout\\Builder\.$#'
			identifier: class.notFound
			count: 1
			path: app/Exports/UsersExport.php

		-
			message: '#^Argument of an invalid type string supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: app/Jobs/GenerateRecoveryCodesJob.php

		-
			message: '#^Parameter \#2 \$array of function implode expects array, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Jobs/GenerateRecoveryCodesJob.php

		-
			message: '#^Property App\\Jobs\\ProcessProfileViewJob\:\:\$sessionId is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: app/Jobs/ProcessProfileViewJob.php

		-
			message: '#^Property App\\Jobs\\ProcessProfileViewJob\:\:\$userAgent is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: app/Jobs/ProcessProfileViewJob.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany\:\:root\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Livewire/Public/Posts/PostComments.php

		-
			message: '#^Match arm comparison between Monolog\\Level\:\:Emergency and Monolog\\Level\:\:Emergency is always true\.$#'
			identifier: match.alwaysTrue
			count: 1
			path: app/Logging/Telegram/TelegramLoggerHandler.php

		-
			message: '#^Parameter \$user of method App\\Actions\\Modules\\GenerateShortLinkAction\:\:exec\(\) expects App\\Models\\User, Illuminate\\Database\\Eloquent\\Model\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/Post.php

		-
			message: '#^Method App\\Models\\User\:\:shortLinks\(\) has invalid return type App\\Models\\MorphMany\.$#'
			identifier: class.notFound
			count: 1
			path: app/Models/User.php

		-
			message: '#^Method App\\Models\\User\:\:shortLinks\(\) should return App\\Models\\MorphMany but returns Illuminate\\Database\\Eloquent\\Relations\\MorphMany\<App\\Models\\ShortLink, \$this\(App\\Models\\User\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/User.php

		-
			message: '#^Access to undefined constant chillerlan\\QRCode\\QRCode\:\:ECC_L\.$#'
			identifier: classConstant.notFound
			count: 1
			path: app/View/Components/UI/QrCodeProfile.php

		-
			message: '#^Access to undefined constant chillerlan\\QRCode\\QRCode\:\:OUTPUT_MARKUP_SVG\.$#'
			identifier: classConstant.notFound
			count: 1
			path: app/View/Components/UI/QrCodeProfile.php
