@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-profile-primary: var(--profile-primary);
    --color-profile-accent: var(--profile-accent);
    --color-profile-secondary: var(--profile-secondary);
    --color-profile-text: var(--profile-text);
    --color-profile-bg: var(--profile-bg);

    --radius-profile-button: var(--profile-button-radius);

    --radius-3xl: 1.5rem;
    --radius-4xl: 2rem;

    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    *, ::after, ::before {
        border-color: var(--color-zinc-200);
    }
}

/* ---------------------------------------
   Responsive Videos & Iframes
--------------------------------------- */
.prose iframe,
.prose video {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 1rem;
    max-width: 100%;
    margin: 2rem 0;
}

article img {
    max-width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.ql-container {
    display: flex;
    flex-direction: column;
}

.ql-editor {
    flex: 1 1 auto;
}

.ql-editor img {
    max-width: 100%;
    height: auto;
}

.ql-editor video {
    display: block;
    width: 100%;
    max-width: 100%;
    border-radius: 0.75rem;
    margin: 1rem 0;
}

@media (max-width: 640px) {
}

/* ---------------------------------------
   Toaster Overrides
--------------------------------------- */

#toaster,
[id^="toaster"] {
    z-index: 100000 !important;
}

.no-transitions,
.no-transitions * {
    transition: none !important;
}

/* ---------------------------------------
   Hide scrollbar (mantém a rolagem funcional)
--------------------------------------- */
.hide-scrollbar,
.scrollbar-hide {
    -ms-overflow-style: none; /* IE e Edge */
    scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar,
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Opera */
}

/* Initial state for expanded sidebar to prevent jumps */
:root.is-sidebar-expanded aside {
    @media (min-width: 1024px) {
        width: 18rem !important; /* lg:w-72 */
    }
}

:root.is-sidebar-expanded .main-content-wrapper {
    @media (min-width: 1024px) {
        padding-left: 18rem !important; /* lg:pl-72 */
    }
}
